.Header {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
  justify-content: center;
  height: 200px;
  align-items: center;
  margin-top: 0px;
  border-bottom-style: solid;
  border-width: 5px;
  border-bottom-color: Black;
}

.Header > div {
  background-color: white;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 18px;
  border-style: solid;
  border-width: 5px;
  border-color: slayGray;
}

.Section {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 20px;
}
.Section > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 15px;
  text-align: center;
}
.SideBar {
  /*display: flex;
  flex-direction: row;
  background-color: yellow;
  justify-content: left;
  height: 100px;
  align-items: left;
  margin-top: 0px;
  border-bottom-style: solid;
  border-width: 5px;
  border-bottom-color: black;*/
  grid-area: 1 / 1 / 60 / 2;
  text-align: center;
}



.MainContent{
	grid-area: 1 / 2 / 60 / 6;
}
/*.SideBar > div {
  background-color: pink;
  margin: 10px;
  text-align: left;
  line-height: 15px;
  font-size: 18px;
  border-style: solid;
  border-width: 5px;
  border-color: black
}*/

#Monique{
	border-radius: 50%;
   }

#Contact{
	padding-left: 40px;
	text-align: left;
}

img.phone{
	padding-left: 80px;
	display: inline;
}

img.mail{
	padding-left: 80px;
	display: inline;
}

img.facebook{
	padding-left: 80px;
	display: inline;
}

img.web{
	padding-left: 80px;
	display: inline;
}

a.space{
	margin-left: 100px;
}

#SocialMedia{
	padding-left: 40px;
	text-align: left;
}

