.Header {
	display: flex;
	flex-direction: column;
	background-color: DodgerBlue;
	justify-content: center;
	height: 200px;
	align-items: center;
	margin-top: 0px;
	border-bottom-style: solid;
	border-width: 5px;
	border-bottom-color: Black;
}

.Header > div {
	background-color: white;
	margin: 10px;
	text-align: center;
	line-height: 15px;
	font-size: 18px;
	border-style: solid;
	border-width: 5px;
	border-color: slayGrey;
}

.Section {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 20px;
}

.Section > div {
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	text-align: center;
}
.SideBar {
	grid-area: 1 / 1 / span 60 / span 5;
}


#MainContent{
	text-align: left;
	grid-area: 1 / 6 / span 60 / span 7;
	padding:20px;
} 

#Monique{
	border-radius: 50%;
   }

#Contact{
	padding-left: 40px;
	text-align: left;
}

img.phone{
	padding-left: 80px;
	display: inline;
}

img.mail{
	padding-left: 80px;
	display: inline;
}

img.facebook{
	padding-left: 80px;
	display: inline;
}

img.web{
	padding-left: 80px;
	display: inline;
}

#SocialMedia{
	padding-left: 40px;
	text-align: left;
}

a.space{
	padding: 100px;
}

.list {
 float:left;
 width:49.9%;
}